body {
    font-family: sans-serif;
    background-color: #C6DCEF;
}


footer {
    background-color: #9ABFDF;
    border: 3px solid #9ABFDF;
}

footer p {
    background-color: azure;
}

header {
    background-color: #9ABFDF;
    border: 3px solid #9ABFDF;
}

img {
    width: 150px;
    height: 225px;
    margin-left: 300px;
}
